{% extends 'dashboard/base/base.html' %}
{% load static %}

{% block title %}HOME{% endblock %}   

{% block body %} 
    <!-- breadcrumb begin -->
    {% include 'dashboard/includes/breadcrumb.html' %}

    <!-- account begin -->
    <div class="user-dashboard">
        <div class="container">
            
            {% include 'dashboard/includes/account.html' %}

            {% include 'dashboard/includes/dashboard/user_logs.html' %}
        </div>
    </div>
    
    {% block javascript %}
    <script src="{% static 'assets/js/Chart.min.js'%}"></script>
    <script src="{% static 'assets/js/chart-activate.js'%}"></script>
    {% endblock  %}

{% endblock  %}