{% extends 'dashboard/base/base.html' %}
{% load static %}

{% block title %}HOME{% endblock %}   

{% block body %} 
    <!-- breadcrumb begin -->
    <div class="breadcrumb-oitila db-breadcrumb">
        <div class="container">
            <div class="row justify-content-lg-around">
                <div class="col-xl-6 col-lg-7 col-md-5 col-sm-6 col-8">
                    <div class="part-txt">
                        <h1>User Dashboard</h1>
                        <ul>
                            <li>home</li>
                            <li>Dashboard</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-7 col-sm-6 col-4 d-flex align-items-center">
                    <div class="db-user-profile">
                        <div class="part-data">
                            <span class="name">Sadwel Eunton</span>
                            <ul>
                                <li>
                                    <span class="text">Invest</span>
                                    <span class="number">$100</span>
                                </li>
                                <li>
                                    <span class="text">Earings</span>
                                    <span class="number">$250</span>
                                </li>
                            </ul>
                        </div>
                        <div class="part-img">
                            <img src="{% static 'assets/img/member-1.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- account begin -->
    <div class="user-dashboard">
        <div class="container">
            
            {% include 'dashboard/includes/account.html' %}

            {% include 'dashboard/includes/dashboard/user_logs.html' %}
        </div>
    </div>
    
    {% block javascript %}
    <script src="{% static 'assets/js/Chart.min.js'%}"></script>
    <script src="{% static 'assets/js/chart-activate.js'%}"></script>
    {% endblock  %}

{% endblock  %}