{% extends 'dashboard/base/base.html' %}
{% load static %}

{% block title %}INVEST{% endblock %}   

{% block body %} 
    <!-- breadcrumb begin -->
    <div class="breadcrumb-oitila db-breadcrumb">
        <div class="container">
            <div class="row justify-content-lg-around">
                <div class="col-xl-6 col-lg-7 col-md-5 col-sm-6 col-8">
                    <div class="part-txt">
                        <h1>User Dashboard</h1>
                        <ul>
                            <li>home</li>
                            <li>Investment</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-7 col-sm-6 col-4 d-flex align-items-center">
                    <div class="db-user-profile">
                        <div class="part-data">
                            <span class="name">Sadwel Eunton</span>
                            <ul>
                                <li>
                                    <span class="text">Invest</span>
                                    <span class="number">$100</span>
                                </li>
                                <li>
                                    <span class="text">Earings</span>
                                    <span class="number">$250</span>
                                </li>
                            </ul>
                        </div>
                        <div class="part-img">
                            <img src="{% static 'assets/img/member-1.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- account begin -->
    <div class="user-dashboard">
        <div class="container">

            {% include 'dashboard/includes/account.html' %}

            <h3 class="title">
                Select Your Favourite Plan
            </h3>

            <div class="d-none">
                <div class="icon-completed">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle>
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
                    </svg>
                </div>
            </div>

            <div class="select-plan">
                <div class="row">
                    {% for plan in plan %}
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
                        <div class="single-plan">
                            <h3>{{plan.name}}</h3>
                            <div class="plan-icon">
                                <img class="icon-img" src="{% static 'assets/img/icon/bronze-medal.png'%}" alt="">
                            </div>
                            <div class="price-info">
                                <span class="">minimum: {{plan.minimum_deposit}}</span><br>
                                <span class="">maximum: {{plan.maximum_deposit}}</span><br>
                                <span class="price">{{plan.interest_rate}}<small> after {{plan.duration}} Hours</small></span>
                            </div>
                            <a href="#" class="btn-hyipox-medium price-button">Invest now</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    {% endblock %}
